body {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #eee;

}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    font-family: "Roboto", sans-serif;
    row-gap: 2rem;
}

h1 {
    font-weight: 900;
    font-size: 15rem;
    /*color: #363636;*/
    background: linear-gradient(to bottom right, #CF00BA 0%, #5915CF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 5rem;
}

h2 {
    font-family: "Montserat", sans-serif;
    font-size: 2rem;
    font-weight: 500;
}

.console {
    font-family: "Ubuntu Mono", monospace;
    width: 700px;
    height: 450px;
    box-sizing: border-box;
    margin: auto;
}

.console header {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #555;
    height: 45px;
    line-height: 45px;
    text-align: center;
    color: #DDD;
}

.console .console-body {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-sizing: border-box;
    padding: 20px;
    height: calc(100% - 40px);
    background-color: #000;
    color: #63de00;
}

.console .console-body p {
    line-height: 1.5rem;
}