

body {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #eee;

}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    font-family: "Roboto", sans-serif;
    row-gap: 2rem;
}

.console {
    font-family: "Ubuntu Mono", monospace;
    width: 40rem;
    height: 25rem;
    box-sizing: border-box;
    margin: auto;
}

.console header {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-color: #555;
    height: 2.75rem;
    line-height: 2.75rem;
    text-align: center;
    color: #DDD;
}

.console .console-body {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-sizing: border-box;
    padding: 1.25rem;
    height: calc(100% - 2.5rem);
    background-color: #000;
    color: #63de00;
}

.console .console-body p {
    line-height: 1.5rem;
}

.y-key {
    cursor: pointer;
}

.response {
    color: #63de00;
    font-weight: 500;
}

footer {
    text-align: center;
    margin-top: 2rem;
    font-size: 0.9rem;
    font-family: "Roboto", sans-serif;
    color: #555;
}

footer a {
    color: #0075FF;
    text-decoration: none;
    font-weight: 500;
}

footer a:hover {
    text-decoration: underline;
}